**/.terraform/
**/.terraform.lock.hcl

**/*.tfstate
**/*.tfstate.*

**/crash.log
**/dev

**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json

**/.secret
**/*.pem
**/*.key
**/*.env

**/.terraformrc
**/terraform.rc
